<div id="div_device" class="panel panel-default">
  <div class="select">
    <select id="audioSource"></select>
  </div>
  <div class="select">
    <select id="videoSource"></select>
  </div>
</div>
<div id="video" style="margin:0 auto;">
  <div id="agora_local" style="float:right;width:210px;height:147px;display:inline-block;"></div>
</div>
<button id="join" class="btn btn-primary" onclick="join()">Join</button>
